:root
{
  --color1:#7E98CE;
  --color2:#0F161E;
  --color3:#657587;
  --color4:#4F565F;
  --color5:#F67;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body 
{
  background-color: #0F161E;
  background-image: url(../res/wp2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

section
{
  height: 100vh;
  padding:  10% 15%;
  margin-top:75px;
}

#projects
{
  height:220vh;
}

#contacts {
  position: fixed;
  right: 3%;
  bottom: 0px;
}

/*------------------------------------------------------------
Projects Table
*/

.table
{
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 450;
  color: white;
  border: 0px solid transparent;
  border-bottom: 1px solid var(--color4);

}
th
{
  color: var(--color4);
}

.year
{
  font-weight: 550;
}

itms
{
  font-size: 1.1rem;
  background-color: var(--color3);
  border : 1px solid var(--color4);
  border-radius: 20px;
  padding: 0px 5px 2px 5px;
  margin-right: 5px;
}
subItms
{
  font-size: 1rem;
  background-color: var(--color4);
  border : 1px solid #333;
  border-radius: 20px;
  padding: 0px 5px 1px 5px;
  margin: -1px;
}

.link
{
  padding-right: 6px;
}

/*------------------------------------------------------------
Custom components
*/

hr
{
  color: var(--color3);
  margin: 0px 4%;
}

nav
{
  padding: 20px 3%;
}




h3
{
  color: var(--color1);
}
h4
{
  font-size: 1.5rem;
  font-weight :320;
}
p
{
  font-size: 1.3rem;
  font-weight :320;
  margin-left: 10px ;
}

mark
{
  padding: 0px;
  background-color: inherit;
  color: var(--color5);
}
.btn
{
  border-width: 2px;
  font-size: 1.2rem;
  font-weight: 450;
  border-color: var(--color1);
  color:  var(--color1);
}

.btn:hover
{
  background-color:var(--color1);
  color:  var(--color2);
}

.form-control 
{
  color: #ccc;
  font-size: 1.2rem;
  margin: 20px 0px;
  background-color: #0F161E;
  border: 0 solid white;
  border-radius: 0px;
  border-bottom: 2px solid white;
}

.form-control:focus
{
  margin: 20px 0px;
  color: #fff;
  background-color: #0F161E;
  border: 0 solid white;
  border-radius: 0px;
  border-bottom: 2px solid var(--color1);
  box-shadow: none;
}

.workItem
{
  margin: 80px 0px;
  border:1px solid white;
  padding: 0px 15px 10px 15px;
}
.workItem hr
{
  color: var(--color3);
  height: 2px;
  margin: 8px 0px;
}

.workItem p
{
  margin-bottom: 0px;
  position:relative;
  top: -1.3rem;
}

.projectTitle, .projectImage
{
  font-weight: bold;
  position:relative;
  top: -2rem;
  padding-left: 10px;

}




/*------------------------------------------------------------
Projects
*/

/*------------------------------------------------------------
Custom Navigation Bar
*/

#menu li
{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color4);
  text-decoration: none;
}

#menu li:hover
{
  cursor: pointer;
  color: var(--color1);
}
#menu li[class="active"]
{
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color1);
}

vl {
  display: block;
  border-left: 2px solid var(--color4);
  margin-left: 2px;
  height: 100px;
}
vm {
  display: block;
  border-left: 2px solid var(--color4);
  margin-left: 2px;
  height: 50px;
}
vs
{
  display: block;
  border-left: 2px solid var(--color4);
  margin-left: 2px;
  height: 25px;
}

#menu {
  position: fixed;
  left: 2%;
  bottom: 0px;
}

#menu a
{
  position: relative;
  left: -30px;
  top: -7px;
}
#menu vl, #menu vs
{
  position: relative;
  left: 4px;
}  

::marker
{
  font-size: 2.5rem;
  line-height:30px;
}



.icon
{
  margin: 5px 0px;
  position: relative;
  left: -10px;
}

.icon:hover
{
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4f565f11;
  box-shadow: 0 0px 15px rgba(145, 92, 182, .1);
}

a
{
  color: var(--color1);
  text-decoration: none;
}

button a:hover
{
  color: var(--color2);
  text-decoration: none;
}

/*------------------------------------------------------------
Form
*/

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--color2);
  opacity: 0.6;
}



.smallScreen
{
  display: none;
}

@media only screen and (max-width: 720px) {
  .smallScreen
  {
    display:initial;
  }
  .bigScreen
  {
    display: none;
  }
  #menu
  {
    visibility: hidden;
  }
  body 
  {
    background-image: url(../res/wp1.png);
    overflow: hidden;
  }
  section, #projects
  {
    height:initial;
    padding:  10% 7%;
  }
  #hi
  {
    height:80vh;
  }
  .navbar
  {
    position: relative;
    top: 0px;
  }
  #contacts
  {
    right: -3px;
  }

  .projectImage
  {
    top: -0.75rem;
    padding-left: 10px;

  }
}